html {
    scroll-behavior: smooth;
  }  

.bg-light {
    background-color: white!important;
    border: 1px solid black;
    position: relative;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Pics-Art-04-22-12-55-04.jpg") ;
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     text-transform: uppercase;
     font-size: 60px;
     font-family:Sans-serif;
     font-weight: 600;
}

.imageabout {
    width: 50%;
    height: 50%;
}
.imagecontain {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.cards {
    margin: 50px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.margin {
    margin-top: 40px;
    margin-bottom: 40px;
}
.margin1 {
    margin-top: 20px;
}
.marginnew {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin2 {
    margin-top: 80px;
}

.titleone {
    font-size: 60px;
}

.titletwo{
    font-size: 20px;
}

@media (max-width: 576px) {
    .videomargin { 
        margin-bottom: 20px;
    }
    .titleone {
        font-size: 35px;
    }
    .titletwo {
        font-size: 14px;
    }
    .buttonsizemobile {
        padding:4px 8px 4px 8px;
        font-size: 15px;
    }
    .buttonmargin {
        width: 100vw;
        font-size: 30px;
    }
    .zoom:hover {
        transform: scale(1);
    }
    .svg {
        display: none;
    }
    .svg2 {
        display: none;
    }

    .imageabout {
        width: 100%;
        height: 100%;
    }   
    .cardspadding {
        padding: 0px
    } 
    .photoshadow {
        padding: 0px;
      }  
    
}

.zoom:hover {
    transform: scale(1.01);
}

.footer-heart{
    text-align:center;
    font-family: open sans, sans-serif;
}

.footer-heart a{
    border-bottom: 1px solid #453886;color: #453886;
    padding-bottom: .25em;
    text-decoration: none;
}

.footer-heart a:hover{
    color:#2196f3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;}

.emoji{
    vertical-align: middle;
}     

.svg {
    position: relative;
    bottom: -225px;
    opacity: 0.4;
}

.svg2 {
    position: relative;
    bottom: 60px;
    opacity: ;
}
.none {
    display: none;
}

.ocean { 
    height: 200px;
    width:100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .ocean.v01 .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  }
  
  .ocean.v01 {
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }
  }
  .photoshadow {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }  

  .cardspadding {
      padding: 10px
  } 